@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/images/bg/background.png");
  position: relative;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}